<li class="company__team-item">
  <img src="{{ block.settings.avatar |  image_url: width: 1000 }}" width="124" height="124" alt="">
  <p class="text-4 company__team-occupation">{{ block.settings.occupation }}</p>
  <h6 class="heading-6 uppercase">{{ block.settings.name }}</h6>
  <p class="text-4 gray ">{{ block.settings.desc }}</p>
</li>
