<link rel="stylesheet" href="{{ 'about-us.css' |  asset_url }}">

<div class="about-us__wrapper">
  <div class="about-us__clip"></div>
  <div class="about-us__box">
    <div class="about-us__image">
      <img src="{{ 'about-us.png' |  asset_url }}" width="570" height="324" alt="">
    </div>

    <div class="about-us__content">
      <h4 class="heading-4 red uppercase">{{ section.settings.heading }}</h4>
      <p class="text-2 gray about-us__text">
        {{ section.settings.text }}
      </p>
    </div>
  </div>

  {% render 'testimonial' %}
</div>

{% schema %}
{
  "name": "About Us",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Default Heading"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Description",
      "default": "Default Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Default Description"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author",
      "default": "Default Author"
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand",
      "settings": [
        {
          "type": "url",
          "id": "brand_url",
          "label": "URL"
        },
        {
          "type": "image_picker",
          "id": "brand_logo",
          "label": "Brand Logo"
        }
      ]
    },
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "This is a sample testimonial description."
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "John Doe"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}
