<form class="faq__form">
  <h4 class="heading-4 uppercase red">Have any questions?</h4>

  <div class="form__wrapper">
    <input type="email" placeholder="Enter Your E-mail">
    <input type="text" placeholder="Enter Your Name">

    <textarea placeholder="Your Question..."></textarea>

    <div class="form__submit-btn">
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
