<link rel="stylesheet" href="{{ 'faq.css' |  asset_url }}">

<div class="faq__container">
  <div class="faq__wrapper">
    <div class="faq__clip-path"></div>
    <form class="faq__search-content">
      <input class="faq__search-input" placeholder="What can we help you to find?" type="text">
      <button class="faq__search-button">Search</button>
    </form>
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "settings": []
}
{% endschema %}
