<link rel="stylesheet" href="{{ 'featured-collection.css' |  asset_url }}">

<div class="collection">
  <div class="collection__clip"></div>

  <div class="collection__content">
    {% render 'categories' with heading: section.settings.heading, paragraph: section.settings.paragraph, collections: section.settings.collections %}
  </div>
</div>

{% schema %}
{
  "name": "Featured Categories",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Default Heading"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "Default Paragraph"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Collections"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Products"
    }
  ]
}
{% endschema %}
