<link rel="stylesheet" href="{{ 'featured-collection.css' |  asset_url }}">

<div class="collection">
  <div class="collection__clip"></div>

  <div class="categories">
    <h3 class="heading-3 red uppercase">{{ section.settings.heading }}</h3>
    <p class="text-3 secondary-gray collection__text">{{ section.settings.paragraph }}</p>

    <ul class="categories__wrapper">
      {% for collection in collections %}
        {% if collection.title != 'Home page' %}
          {% render 'collection-card', collection: collection %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Featured Categories",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Default Heading"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "Default Paragraph"
    }
  ],
  "presets": [
    {
      "name": "Categories",
      "category": "Custom"
    }
  ]
}
{% endschema %}
