<link rel="stylesheet" href="{{ 'image-banner.css' |  asset_url }}">

<div class="image-banner">
  <div class="image-banner__content">
    <div class="image-banner__info">
      <h2 class="heading-2 white uppercase">choose your shoes with us.</h2>
      <p class="text-2 secondary-white image-banner__text">
        We will help you to choose the product that without the doubt suits you best. And we mean it
      </p>
      <button class="button-gray">Read More</button>
    </div>
    <div class="image-banner__img">
      <img src="{{ 'image-banner.png' |  asset_url }}" width="570" height="617" alt="">
    </div>
  </div>
</div>
