<link rel="stylesheet" href="{{ "main-blog.css" |  asset_url }}">

<div class="blog__container">
  <h4 class="heading-4 uppercase">{{ section.settings.title }}</h4>
  <p class="text-3 gray blog__text">{{ section.settings.text }}</p>

  <ul class="blog__box-wrapper">
    {% for article in section.settings.blog.articles %}
      {% render 'latest-news', article: article %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Blogs",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Default Text"
    }
  ]
}
{% endschema %}
