<link rel="stylesheet" href="{{ 'our-products.css' | asset_url }}">

<div class="our-products__container">
  <h4 class="heading-4 black uppercase our-products__title">{{ section.settings.header }}</h4>

  <ul class="our-products__wrapper">
    {% for product in section.settings.collection.products %}
      {% render 'product-cart', product: product %}
    {% endfor %}
  </ul>
  <div class="our-products__cta">
    <a href="{{ routes.all_products_collection_url }}" class="link-gray ">{{ section.settings.cta_text }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Our Products",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "Default Text"
    }
  ]
}
{% endschema %}
