<link rel="stylesheet" href="{{ "wishlist-hero.css" |  asset_url }}">

<div class="wishlist-hero">
  <div class="wishlist-hero__image">
    <img src="{{ section.settings.hero_image |  image_url: width: 1000 }}" width="" height="" alt="">
  </div>

  <div class="wishlist-hero__content">
    {% render 'breadcrumb' %}

    <h2 class="heading-2 white uppercase">{{ section.settings.title }}</h2>
  </div>
</div>

{% schema %}
{
  "name": "Wishlist Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Default Title"
    }
  ]
}
{% endschema %}
