<link rel="stylesheet" href="{{ "wishlist-hero.css" |  asset_url }}">

<div class="wishlist-hero">
  <div class="wishlist-hero__image">
    <img src="{{ section.settings.hero_image |  image_url: width: 1000 }}" width="" height="" alt="">
  </div>

  <div class="wishlist-hero__content">
    {% render 'breadcrumb' %}
    {% for block in section.blocks %}
      {% if block.type == 'title' %}
        <h2 class="heading-2 white uppercase">{{ block.settings.title }}</h2>
      {% endif %}
    {% endfor %}
  </div>
</div>