.company__team-container {
  padding: 100px 0;
}

.company__team {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.company__team-text {
  margin: 10px 0 40px 0;
}

.company__team-list {
  display: flex;
  justify-content: space-between;
}

.company__team-item {
  max-width: 270px;
  border-radius: 10px;
  background-color: var(--color-secondary-white);
  padding: 30px;
  text-align: center;
}

.company__team-occupation {
  margin: 20px 0 10px 0;
}

.social__media-icons {
  margin: 11px 0;
}
