.cart-drawer {
  position: fixed;
  top: 0;
  left: -9999px;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  transition: left 0s 0.2s, opacity 0.2s;
}

.cart-drawer--active {
  left: 0;
  opacity: 1;
  transition: left 0s, opacity 0.2s;
}

.cart-drawer-box {
  width: 485px;
  background: var(--color-white);
  flex: 1;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: 0.2s opacity, 0.2s transform;
  opacity: 0;
  transform: translateX(40px);
}

.cart-drawer--active .cart-drawer-box {
  transform: none;
  opacity: 1;
}

.cart-drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid var(--color-red);
  margin-bottom: 15px;
  padding: 24px;
}

.cart-drawer-header h2 {
  color: #212529;
  flex: 1;
  font-weight: 500;
  font-size: 18px;
}

.cart-drawer-header-right {
  color: #a1a1a1;
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.cart-drawer-header-right-items {
  display: block;
  font-weight: 500;
}

.cart-drawer-header-right-close {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cart-drawer-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-drawer-items {
  padding: 0 24px;
}

.cart-drawer-item {
  display: flex;
  align-items: center;
  background: white;
  overflow: hidden;
}

.cart-drawer-item + .cart-drawer-item {
  margin-top: 10px;
}

.cart-drawer-item-image {
  width: 100px;
  height: 100px;
}

.cart-drawer-item-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-drawer-remove {
  width: 18px;
  height: 18px;
}

.cart-drawer-remove a {
  width: 100%;
  height: 100%;
}

.cart-drawer-item-main {
  flex: 1;
  padding: 0 24px;
}

.cart-drawer-item-main-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-drawer-item-main-flex-left {
  flex: 1;
}

.cart-drawer-item-main-flex-left h3 {
  font-size: 15px;
  font-weight: 500;
}

.cart-drawer-item-main-flex-left h3 a {
  color: #212529;
}

.cart-drawer-item-main-flex-left span {
  color: #a1a1a1;
  font-size: 13px;
  margin-top: 4px;
  display: block;
}

.cart-drawer-item-main-flex-right span {
  font-weight: 500;
  color: #212529;
  font-size: 14px;
}

.cart-drawer-quantity-selector {
  display: inline-flex;
  border: 1px solid var(--color-red);
  border-radius: 3px;
}

.cart-drawer-quantity-selector button {
  width: 28px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
}

.cart-drawer-quantity-selector input {
  width: 28px;
  font-size: 13px;
  text-align: center;
  line-height: 24px;
  background-color: transparent;
  border: none;
}

.cart-drawer-footer {
  padding: 24px;
  margin-top: auto;
  background-color: var(--color-secondary-black);
}

.cart-drawer-footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-drawer-footer-row:last-of-type {
  margin-bottom: 16px;
}

.cart-drawer-footer-row h3 {
  font-weight: 400;
  color: #525252;
  font-size: 14px;
}

.cart-drawer-footer-row span {
  font-weight: 500;
  color: #212529;
  font-size: 14px;
}

.cart-drawer-button {
  display: block;
  width: 100%;
  font-weight: 500;
  background-color: var(--color-red);
  border: none;
  color: #fff;
  line-height: 21px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 10px 0;
  cursor: pointer;
}

.cart-drawer-cart-link {
  width: 100%;
  background-color: var(--color-red);
  padding: 10px 0;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 10px;
}

.cart-drawer-empty {
  margin: auto;
  color: var(--color-red);
}
