.login-container {
  max-width: 970px;
  margin: 0 auto;
}

.login-form-title {
  text-transform: uppercase;
  color: var(--color-red);
  margin-bottom: 20px;
}

.login-form-email,
.login-form-password {
  width: 50%;
  margin-bottom: 10px;
}

.login-form-email-input,
.login-form-password-input {
  width: 100%;
  padding: 10px 30px;
  border: 1px solid var(--color-red);
  border-radius: 6px;
}

.login-form input {
  padding: 10px 30px;
  border: 1px solid var(--color-red);
  outline: none;
  border-radius: 6px;
}

.login-form-email-label,
.login-form-password-label {
  display: none;
}

.login-form-btn {
  margin-top: 10px;
  padding: 10px 24px;
  background-color: var(--color-red);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: var(--color-white);
}
