.blog__container {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.blog__text {
  width: 570px;
  margin: 10px 0 30px 0;
}

.blog__box-wrapper {
  display: flex;
  margin-bottom: 100px;
}

.blog__box {
  text-align: center;
}

.blog__box-date {
  margin: 10px 0 15px 0;
}

.blog__social {
  position: relative;
  margin-bottom: 100px;
}

.blog__social-image {
  max-width: 1170px;
  margin: 0 auto;
}

.blog__social-content {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 18px 28px;
  background-color: var(--color-white);
  border-radius: 6px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
