.blog__container {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.blog__text {
  width: 570px;
  margin: 10px 0 30px 0;
}

.blog__box-wrapper {
  display: flex;
  margin-bottom: 100px;
}

.blog__box {
  text-align: center;
}

.blog__box-date {
  margin: 10px 0 15px 0;
}
