.newsseller__container {
  padding: 60px 0;
  background-color: var(--color-secondary-black);
}

.newsseller__wrapper {
  max-width: 1070px;
  margin: 0 auto;

  display: flex;
  gap: 70px;
}

.newsseller__content {
  width: 250px;
}

.newsseller__title {
  margin-bottom: 10px;
}

.newsseller__form {
  width: 750px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsseller__form input {
  width: 75%;
  background-color: transparent;
  padding: 12px;
  border: 1px solid var(--color-red);
  border-radius: 6px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
